@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

$red:#ed4040;
body{	
	font-family: "Arial","Microsoft YaHei", "SimHei", "SimSun";	
	min-width:1200px;
	
}
.im1{
	background:url(../images/im1-bg.jpg) center center no-repeat;
	height:779px;
	background-attachment:fixed;
	.im1-txt1{
		@include abscenter(743px,135px,154px,'../images/im1-txt1.png');
	}
	.intro{
		@include abscenter(1000px,135px,329px);
		font-size: 16px;
		line-height: 30px;
		color: #fff;
		text-align: center;
		font-weight: bold
	}
	.btn{
		@include abscenter(150px,58px,458px,'../images/im1-btn.png');	
	}
	.tel{
		@include abscenter(330px,48px,555px,'../images/im1-tel.png');	
	}
}
.im2{
	position:relative;
	height:1000px;
	background:#f9f9f9;
	.tit{
			@include abscenter(615px,48px,70px,'../images/im2-tit.png');
		}	
	.row1{
		@include abscenter(1000px,278px,167px);
		padding-bottom:50px;
		height: 278px;
		border-bottom: #aaa 1px dashed;		
		.col{
			height: 278px;	
			box-sizing:border-box;
			width:50%;				
		}
		.box{
			width: 330px;
			text-align: center;			
			h3{
				color: #2b2e3f;
				font-size: 18px;
				line-height: 30px;
			}
			p{
				font-size: 14px;
				color: #666;
				line-height: 28px;
			}
		}
		.col1{
			float: left;
			padding-left: 40px;
			padding-right: 150px;
			border-right:#aaa 1px dashed;			
		}
		.col2{
			float: left;			
			.box{
				float: right;
				margin-right: 40px;
			}
		}

	}
	.row2{
		@include abscenter(1000px,80px,560px);
		.tit2{
			font-size: 24px;
			color: #2b2e3f;
			line-height: 40px;
			text-align: center;
		}
		.pic{
			@include abscenter(898px,250px,118px,'../images/im2-pic3.png');
		}
	}
}
.im3{
	height:642px;
	position:relative;
	overflow:hidden;
	.titbg{
		background:url(../images/im3-tit-bg.jpg) top center no-repeat;
		height: 150px;
		position:relative;
		.tit{
			@include abscenter(643px,69px,40px,'../images/im3-tit.png');
		}		
	}
	.questions {
    margin-top: 80px;
    height: 300px;
	}
}
.im4{
	background:url(../images/im4-bg.jpg) top center no-repeat;
	height:700px;
	.mb{
		height:700px;
		overflow:hidden;	
	}
	
	/* background-attachment:fixed; */
	.im4-tit{
		@include abscenter(442px,62px,64px,'../images/im4-tit.png');
	}
	.im4-body{
		.box{
			position:absolute;			
			width:279px;
			height: 279px;
			cursor: pointer;
			background:url(../images/im4-rec-bg.png);
			&:hover{
				background:url(../images/im4-rec-bg-hover.png);
				.tit{
					color: #fff;
				}
				.txt2{
					color:#fff;
				}
			}
			text-align: center;			
			.ico{
				width:48px;
				height: 48px;
				display: inline-block;
				margin-top: 55px;								
			}
			.tit{
				font-size: 24px;
				color: #0ec9bc;
				line-height: 46px;
				margin-bottom: 16px;
			}
			.txt1{
				
				color: #fff;
			}
			.txt2{

				color:#865ffd;
			}
			.txt1,.txt2{
				line-height: 24px;
				font-size: 14px;
			}

		}
		.box1{
			left:40px;
			top: 182px;
			.ico{background:url(../images/im4-ico1.png);}
			&:hover .ico{
				background:url(../images/im4-ico1-hover.png);	
			}
		}
		.box2{
			left:360px;
			top: 182px;
			.ico{background:url(../images/im4-ico2.png);}
			&:hover .ico{
				background:url(../images/im4-ico2-hover.png);	
			}
		}
		.box3{
			left:674px;
			top: 182px;
			.ico{background:url(../images/im4-ico3.png);}
			&:hover .ico{
				background:url(../images/im4-ico3-hover.png);	
			}
		}
		.box4{
			left:200px;
			top: 337px;
			.ico{background:url(../images/im4-ico4.png);}
			&:hover .ico{
				background:url(../images/im4-ico4-hover.png);	
			}
		}
		.box5{
			left:515px;
			top: 337px;
			.ico{background:url(../images/im4-ico5.png);}
			&:hover .ico{
				background:url(../images/im4-ico5-hover.png);	
			}
		}
	}
}
.im5{
	height:564px;
	position:relative;
	.im5-tit{
		@include abscenter(814px,64px,82px,'../images/im5-tit.png');
	}
	.im5-body{
		position:absolute;
		width: 100%;
		margin-top: 216px;
		height: 350px;
		background:#f9f9f9;
		color: #2b2e3f;
		.col{
			float: left;
			position:absolute;
			top: 38px;
			width:280px;
			.tit{
				height: 60px;
				line-height: 60px;
				padding-left: 72px;
				background:url(../images/im5-no1.png) no-repeat;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 32px;
				
			}
			ul li{
				position:relative;
				font-size: 14px;
				line-height: 30px;
				padding-left: 20px;
				&::before{
					content: '';
					position:absolute;
					left: 0;
					top: 0;
					width:8px;
					height: 8px;
					background:#2b2e3f;
					border-radius:50%;
					top:11px;
				}
			}
		}
		.col1{
			left:0;
		}
		.col2{
			left: 678px;
			.tit{
				background:url(../images/im5-no2.png) no-repeat;
			}
		}
		.vs{
			@include abscenter(282px,380px,-14px,'../images/im5-vs.png');
		}
	}
}
.im6{
	height:2527px;
	background:url(../images/im6-bg.png) top center no-repeat;
	transition:all 0.3s;
	.im6-tit{
			@include abscenter(696px,59px,68px,'../images/im6-tit.png');
		}
	.im6-tit-ui{
			@include abscenter(696px,59px,100px,'../images/im6-tit-ui.png');
		}
	.im6-tit1{
		@include abscenter(696px,59px,140px);
		text-align: center;
		font-size: 18px;font-weight: bold		
	}
	.btn1,.btn2{
		width:146px;
		height: 47px;
		border:#0ec9bc 1px solid;
		border-radius:5px;
		text-align: center;
		line-height: 47px;
		color: #2b2e3f;
		font-size: 18px;
		position:absolute;
		top: 207px;
	}
	.btn1{
		left:331px;
	}
	.btn2{
		left:520px;
	}
	.table1{
			@include abscenter(1000px,2071px,306px,'../images/im6-table1.png');
		}
	.table2{
		display: none;
			@include abscenter(1000px,1591px,2390px,'../images/im6-table2.png');
		}
	.more{
		@include abscenter(1000px,60px,2390px,'../images/im6-btn.png');
	}
	.more2{
		display: none;
		@include abscenter(200px,48px,4000px);
		background: #0ec9bc;
		text-align: center;
		border-radius:5px;
		line-height: 48px;
		font-size: 18px;
		a{color: #fff;}
		margin-bottom: 60px;

	}
}
.im7{
	height:698px;
	background:#f9f9f9;
	.im7-tit{
		@include abscenter(954px,60px,68px,'../images/im7-tit.png');
	}
	.im7-pic1{
		@include abs(493px,491px,0px,168px,null,null,'../images/im7-pic1.jpg');
	}
	.intro{
		position:absolute;
		left:572px;
		top: 222px;
		width:416px;
		height: 326px;
		line-height: 45px;
		font-size: 24px;
		color: #818181;
		span{
			color: #7a4ffd
		}
	}
	.btn{
		position:absolute;
		left: 572px;
		top: 548px;
		width:148px;
		height: 48px;
		line-height: 48px;
		border-radius:5px;
		border:#0ec9bc 1px solid;text-align:center;
		font-size: 18px;
		a{
			color: #2b2e3f;
		}
	}
}
.im8{
	height:892px;
	.im8-tit{
		@include abscenter(946px,62px,66px,'../images/im8-tit.png');
	}
	.im8-body{
		@include abscenter(1020px,740px,155px);
		ul{
			position:relative;
			left: 10px;
			li{
				width: 230px;
				height: 330px;
				float: left;
				margin-right: 25px;
				margin-bottom: 20px;
				.box{
					height: 200px;
					background:#f5f5f5;text-align:center;
					img{
						width:110px;
						height: 110px;
						display: inline-block;
						margin-top: 14px;
						background:url(../images/im7-person-bg-green2.png);
					}
					.tit{
						font-size: 18px;
						color: #794efd;
						line-height: 40px;
					}
					.job{
						font-size: 14px;
						color: #2b2e3f;
						line-height: 24px;
					}

				}
				.intro{
						padding:12px;
						font-size: 14px;
						color: #313447;
						line-height: 24px;
						border:#f5f5f5 1px solid;
						height: 105px;
				}

				&:hover{
					.intro{
						border:#0ec9bc 1px solid;
					}
					.box{
						background:#0ec9bc;
						img{
							background:url(../images/im7-person-bg-green.png);						
						}
						.tit,.job{
							color: #fff;
						}
					}
				}
			}

		}

	}
}
.im9{
	height:620px;
	.im9-titbg{
		position:relative;
		background:url(../images/im3-tit-bg.jpg) top center no-repeat;
		height: 150px;
	}
	.im9-tit{
		@include abscenter(890px,48px,51px,'../images/im9-tit.png');
	}
	.im9-body{
		@include abscenter(1010px,365px,58px);
		ul{
			position:relative;
			left: 5px;
			li{
				width:243px;
				height: 358px;
				border:#dfdfe4 1px solid;
				border-bottom-left-radius:3px;border-bottom-right-radius:3px;
				&:hover{
					background:#26cec3;
					.cname,.job,.intro{color: #fff;}
				}
				position:relative;
				float: left;
				margin-right: 7px;
				img{
					display: block;
					width:245px;
					height: 200px;
					position:absolute;
					left: -1px;
					top: -1px;
				}
				.cname{
					position:absolute;
					left:16px;
					top: 200px;
					line-height: 54px;
					font-size: 24px;
					color: #2b2e3f;

				}
				.job{
					position:absolute;
					left: 99px;
					top: 200px;
					line-height: 54px;
					font-size: 14px;
					color: #666;
				}
				.intro{
					position:absolute;
					left: 16px;
					top: 256px;
					line-height: 24px;
					color: #666;
					width: 212px;
					font-size: 14px;
				}
			}
		}
	}

}
.im10{
	position:relative;
	height:551px;
	.im10-tit{
		@include abscenter(290px,64px,0px,'../images/im10-tit.png');
	}
	.im10-body{
		@include abscenter(1010px,365px,100px);
		ul{
			position:relative;
			left:5px;
			li{
				width:245px;
				height: 180px;
				float: left;
				margin-right: 7px;
				margin-bottom: 6px;
				border-radius:4px;
				transition: all 0.3s;
				&:hover{
					transform: scale(1.02);
				}
			}
		}
	}
}
.im11{
	height:580px;
	background:url(../images/im11-bg.jpg) top center no-repeat;
	.im11-tit{
		@include abscenter(530px,47px,47px,'../images/im10-tit.png');
	}
	.im11-body{
		@include abscenter(1020px,365px,100px);
		ul{
			position:relative;
			left: 10px;
			li{
				width:234px;
				height: 350px;
				float: left;
				margin-right: 20px;
				background:#515465;
				border-bottom-left-radius:3px;border-bottom-right-radius:3px;				
				.tit{
					line-height: 60px;
					text-align: center;
					font-size: 18px;
					color: #17cbbf;
				}
				.intro{
					padding:0px 16px;
					color: #d5d6d9;
					font-size: 14px;
					line-height: 24px;
				}
			}
		}
	}
}
.im12{
	height:743px;
	.im12-tit{
		@include abscenter(428px,51px,54px,'../images/im12-tit.png');
	}
	.im12-tel{
		@include abscenter(334px,122px,590px,'../images/im12-tel.png');
	}
	.im12-body{
		@include abscenter(1020px,420px,147px);
		ul{
			position:relative;
			left: 20px;
			li{
				position:relative;
				width:233px;
				height: 180px;
				border:#dbdce1 1px solid;
				border-radius:3px;
				float: left;
				margin-right: 20px;
				margin-bottom: 18px;
				img{
					width:233px;
				}
				.btn{
					transition: all 0.3s;
					@include abscenter(128px,38px,114px);
					border-radius:3px;
					border:#dbdce1 1px solid;
					line-height: 38px;
					text-align: center;
					font-size: 14px;
					a{color: #2b2e3f;}
				}
				&:hover{
					.btn{
						background:#0ec9bc;
						border:#0ec9bc 1px solid;
						a{color: #fff;}
					}
				}
			}

		}
	}
}
.foot{
	height:100px;
	background:#181a24;
	ul{
		position:relative;
		li{
			float: left;width:20%;
			text-align: center;
			line-height: 100px;
			a{color: #fff;
				&:hover{
					color:#9978ff;
					}}
		}
	}
}