@charset 'utf-8';
/*  gem install compass-normalize  */
@import "normalize","mixin","comm";
@include normalize();

$red:#ed4040;
$green:#24cabd;
body{	
	font-family: "Arial","Microsoft YaHei", "SimHei", "SimSun";	
	min-width:1200px;
	
}
.im1{
	background:url(../images/im1-bg.jpg) top center no-repeat;
	height:827px;
	/* background-attachment:fixed; */
	.im1-tit{
		@include abscenter(765px,188px,264px,'../images/im1-tit.png');
		opacity: 0;
	}
	
	.btn{
		@include abscenter(180px,55px,597px,'../images/im1-btn.png');
		opacity: 0;
	}
	
}
.im2{
	width:1078px;
	margin:0 auto;
	position:relative;
	height:1136px;
	background:#fff;
	.tit{
			@include abscenter(656px,129px,40px,'../images/im2-tit.png');
		}	
	ul{
		padding-top: 258px;
		li{
			width:33%;
			height: 430px;
			float: left;
			img{
				display: block;
				width:220px;
				height: 218px;
				margin: 0 auto;
			}
			h3{
				color:#3a3a3a;
				font-size: 24px;
				text-align: center;
				padding-top: 8px;
			}
			.btns{
				width:238px;
				margin: 40px auto;
				.btn1,.btn2{
					width:105px;
					height: 38px;
					
					border-radius:3px;
					box-shadow:3px 3px 3px #ccc ;
					line-height: 38px;
					text-align: center;
					float: left;
					a{
						color: #fff;
						font-size: 20px;
					}
				}
				.btn1{
					background:#0ec9bc;
				}
				.btn2{
					background:#fdcd2e;
					margin-left: 24px;
				}
			}
		}
	}
}
.im22{
	height:600px;
	.counter{
		font-size: 24px;
		line-height:48px;		
		text-align: center;
		margin:43px auto 0;
		color: #666;
		span{
			padding:0 10px;
			display: inline-block;
			font-size: 48px;
			color: $green;
		}
	}
	.im22-tit{
		@include abscenter(623px,62px,40px,'../images/im22-tit.png');
	}
	ul{
		padding-top: 133px;
		overflow: hidden;
		li{
			text-align: center;
			width:334px;
			margin-left: 12px;
			margin-right: 10px;
			height: 337px;
			float: left;
			border:#ddd 1px solid;
			.ico{
				position: relative;
				margin-top: 27px;
				margin-left: 122px;
				width:90px;
				height: 90px;
				border-radius:50%;
				box-shadow:3px 2px 5px #ddd;
				background:#24cabd;
				
			}
			&{
					.ico::before{
						position: absolute;
						content:"";
						width:60px;
						height: 60px;
						left: 15px;
						top: 15px;
						background:url(../images/im22-ico1.png);
					}
					
				}
				&.li-2 .ico::before{
						background:url(../images/im22-ico2.png);
					}
					&.li-3 .ico::before{
						background:url(../images/im22-ico3.png);
					}

			&:hover{
				background:$green;
				border:#24cabd 1px solid;
				.ico{
					background:#fff;
				}
				.intro{
					color: #fff;
				}
				.btn{
					background:#fff;
					a{
						color: $green;
					}
				}
				&.li-1{
					.ico::before{										
						background:url(../images/im22-ico1-h.png);
					}
				}
				&.li-2{
					.ico::before{										
						background:url(../images/im22-ico2-h.png);
					}
				}
				&.li-3{
					.ico::before{										
						background:url(../images/im22-ico3-h.png);
					}
				}
			}
			h3{
				line-height: 46px;
				font-size: 26px;
				color: #794efd;

			}
			.intro{
				margin: 36px auto;
				line-height: 24px;
				font-size: 14px;
				color: #555;
				width:100%;
			}
			.btn{
				width:146px;
				height: 38px;
				margin: 0 auto;
				border:#ddd 1px solid;
				border-radius:1px;
				line-height: 38px;				
				a{
					color: $green;
					font-size: 18px;
					@extend .block
				}
			}
		}
	}

}
.im3{
	height:642px;
	position:relative;
	overflow:hidden;
	.titbg{
		background:url(../images/im3-tit-bg.jpg) top center no-repeat;
		height: 160px;
		position:relative;
		.tit{
			@include abscenter(649px,69px,40px,'../images/im3-tit.png');
		}		
	}
	.questions {
    margin-top: 80px;
    height: 300px;
	}
}
.im4{
	background:url(../images/im4-bg.jpg) top center no-repeat;
	height:613px;	
	
	.txt{
		@include abscenter(1100px,158px,236px,'../images/im4-txt.png');
	}
	.row{
		display: flex;		
		.col{
			flex:1;
			text-align: center;
			.ico{
				width:94px;
				height: 94px;
				border-radius:50%;
				background:#f8f8f8;	
				margin: 0 auto 0;
				position: relative;	
				&.ico::before{
					position: absolute;
					content: "";
					width:94px;
					height: 94px;
					
					left: 0;
					top: 0;
				}		
				&.ico-2::before{
					background:url(../images/im4-ico1.png);
				}
				&.ico-3::before{
					background:url(../images/im4-ico2.png);
				}
				&.ico-4::before{
					background:url(../images/im4-ico3.png);
				}
				&.ico-5::before{
					background:url(../images/im4-ico4.png);
				}
				&.ico-6::before{
					background:url(../images/im4-ico5.png);
				}
			}

			p{
				font-size: 26px;
				line-height: 43px;
				background:none;
				color: #fafafa;
				display: inline-block;
				padding:0 15px;
				margin-top: 12px;
			}

		}
		.col:hover{
			.ico{
				background:$green;

			}
			p{
				background:$green;
				color: #fafafa;
			}
			.ico-1{
			
				color: #f5f5f5;
			
			}
			.ico-2::before{
				background:url(../images/im4-ico1-h.png);
			}
			.ico-3::before{
				background:url(../images/im4-ico2-h.png);
			}
			.ico-4::before{
				background:url(../images/im4-ico3-h.png);
			}
			.ico-5::before{
				background:url(../images/im4-ico4-h.png);
			}
			.ico-6::before{
				background:url(../images/im4-ico5-h.png);
			}
		}
		.ico-1{
			font-size: 58px;
			color: $green;
			
			line-height: 94px;
		}
	}
	.row1{
		padding-top: 45px;
	}
	.row2{
		padding-top: 232px;
	}
}
.im5{
	height:1133px;
	.im5-tit{
		@include abscenter(758px,142px,60px,'../images/im5-tit.png');
	}
	ul{
		padding-top: 263px;
		li{
			text-align: center;
			width:334px;
			margin-left: 12px;
			margin-right: 10px;
			height: 337px;
			float: left;
			border:#ddd 1px solid;
			margin-bottom: 63px;
			.ico{
				position: relative;
				margin-top: 27px;
				margin-left: 122px;
				width:90px;
				height: 90px;
				border-radius:50%;
				box-shadow:3px 2px 5px #ddd;
				background:#24cabd;
				
			}
			&{
					.ico::before{
						position: absolute;
						content:"";
						width:60px;
						height: 60px;
						left: 15px;
						top: 15px;
						background:url(../images/im5-ico1.png);
					}
					
				}
				&.li-2 .ico::before{
						background:url(../images/im5-ico2.png);
					}
					&.li-3 .ico::before{
						background:url(../images/im5-ico3.png);
					}
					&.li-4 .ico::before{
						background:url(../images/im5-ico4.png);
					}
					&.li-5 .ico::before{
						background:url(../images/im5-ico5.png);
					}
					&.li-6 .ico::before{
						background:url(../images/im5-ico6.png);
					}

			&:hover{
				background:$green;
				border:#24cabd 1px solid;
				.ico{
					background:#fff;
				}
				.intro{
					color: #fff;
				}
				.btn{
					background:#fff;
					a{
						color: $green;
					}
				}
				&.li-1{
					.ico::before{										
						background:url(../images/im5-ico1-h.png);
					}
				}
				&.li-2{
					.ico::before{										
						background:url(../images/im5-ico2-h.png);
					}
				}
				&.li-3{
					.ico::before{										
						background:url(../images/im5-ico3-h.png);
					}
				}
				&.li-4{
					.ico::before{										
						background:url(../images/im5-ico4-h.png);
					}
				}
				&.li-5{
					.ico::before{										
						background:url(../images/im5-ico5-h.png);
					}
				}
				&.li-6{
					.ico::before{										
						background:url(../images/im5-ico6-h.png);
					}
				}
			}
			h3{
				line-height: 46px;
				font-size: 26px;
				color: #794efd;

			}
			.intro{
				margin: 30px auto 0;
				line-height: 24px;
				font-size: 16px;
				color: #555;
				width:90%;
				height: 90px;
			}
			.btn{
				width:146px;
				height: 38px;
				margin: 0 auto;
				border:#ddd 1px solid;
				box-shadow:2px 2px 6px rgba(#ccc,0.3);
				border-radius:1px;
				line-height: 38px;				
				a{
					color: $green;
					font-size: 18px;
					@extend .block
				}
			}
		}
	}
}
.im6{	
	height:946px;
	padding-top: 189px;
	background:url(../images/im6-bg.jpg) top center no-repeat;	
	.im6-tit{
			@include abscenter(949px,104px,-143px,'../images/im6-tit.png');
		}
	.box{
		box-sizing:border-box;
		width:1000px;
		margin: 0 auto;
		height: 370px;
		box-shadow:4px 4px 3px #ddd;
		border-radius:1px;
		.stuname{
			font-size: 18px;
			color: #fefefe;
			word-spacing: 5px;
		}
		.money{
			line-height: 40px;
			color: #794efd;
			font-size: 18px;
			strong{
				font-size: 24px;
			}
		}
		.intro{
			width: 226px;
			line-height: 20px;
			font-size: 12px;
			color: #fefefe;
		}
	}
	.box1{
		padding-top: 200px;
		padding-left: 37px;		
		background:url(../images/im6-pic1.jpg);
	}
	.box2{
		padding-right: 31px;
		padding-top: 200px;
		margin-top: 17px;
		text-align:right;
		background:url(../images/im6-pic2.jpg);
		.intro{
			float: right;
			text-align:right;
		}
	}
	.btn{
		
		a{
			@extend .block;
			color: #fefefe;
			font-size: 30px;
			width:270px;
			line-height: 66px;
			background:$green;
			border-radius:3px;
			box-shadow:3px 3px 2px rgba(#ccc,0.5);
			margin: 64px auto;
			text-align: center;

		}

	}
}
.im8{
	height:1007px;
	.mb{
		width: 1100px;
	}
	.im8-tit{
		@include abscenter(451px,120px,54px,'../images/im8-tit.png');
	}
	.im8-body{
		ul{
			overflow: hidden;
			padding-top: 201px;
		}
		ul li{
			position: relative;
			width:255px;
			height: 262px;
			float: left;
			margin: 28px 8px;
			overflow: hidden;
			position: relative;
			.box{
				transition: all 0.5s;
				width:255px;
				height: 262px;
				background:rgba(#794efd,0.5);
				position: absolute;
				left: 0;
				top: 262px;
				color: #f8f8f8;
				text-align: center;
				.tit{
					font-size: 30px;
					line-height: 116px;
				}
				.intro{
					width: 90%;
					margin: 0 auto;
					font-size: 14px;
					line-height: 20px;
				}

			}
			&:hover .box{
				top: 0;
			}
		}
	}
	.btn{
		
		a{
			@extend .block;
			color: #fefefe;
			font-size: 30px;
			width:270px;
			line-height: 66px;
			height: 66px;
			background:$green;
			border-radius:3px;
			box-shadow:3px 3px 2px rgba(#ccc,0.5);
			margin: 28px auto;
			text-align: center;

		}

	}
}

.im12{
	height:901px;
	background:url(../images/im12-bg.jpg) top center no-repeat;
	.im12-tit{
		@include abscenter(1081px,72px,54px,'../images/im12-tit.png');
	}
	.im12-tel{
		@include abscenter(531px,110px,764px,'../images/im12-tel.png');
	}
	.im12-body{
		@include abscenter(1020px,420px,162px);
		ul{
			overflow: hidden;
			position:relative;
			left: 20px;
			li{
				position:relative;
				width:233px;
				height: 180px;
				border:$green 1px solid;
				border-radius:3px;
				float: left;
				margin-right: 20px;
				margin-bottom: 18px;
				img{
					width:233px;
				}
				.btn{
					transition: all 0.3s;
					@include abscenter(128px,38px,114px);
					border-radius:3px;
					border:$green 1px solid;
					line-height: 38px;
					text-align: center;
					font-size: 14px;
					a{color: #fff;}
				}
				&:hover{
					.btn{
						background:#0ec9bc;
						border:#0ec9bc 1px solid;
						a{color: #fff;}
					}
				}
			}

		}
		.more{
			a{
				@extend .block;
				width:258px;
				height: 50px;
				border:$green 1px solid;
				line-height: 50px;
				text-align: center;
				color: #03c4b6;
				font-size: 30px;
				margin: 59px auto 0;
			}
		}
	}
}
.foot{
	height:100px;
	background:#181a24;
	ul{
		position:relative;
		li{
			float: left;width:20%;
			text-align: center;
			line-height: 100px;
			a{color: #fff;
				&:hover{
					color:$green;
					}}
		}
	}
}